<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/social.css">
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <%- include('../adminSideBar'); %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="chartjs-size-monitor"
                 style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                <div class="chartjs-size-monitor-expand"
                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                </div>
                <div class="chartjs-size-monitor-shrink"
                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                </div>
            </div>
            <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2>Solicitação</h2>
            </div>

            <% if(typeof solicitation != 'undefined') {%>

                <ul>
                    <li>
                        <div class="my-card">
                            <div class="my-card-image-holder">
                                <img src="<%= solicitation.image ? '/images/storage/'+solicitation.image : '/images/doar.png' %>"
                                     class="<%= solicitation.image ? 'my-card-image-rounded' : 'my-card-image' %>"
                                     alt="<%= solicitation.institution_name %>">
                                <form action="/admin/institutions/approve" method="post">
                                    <input type="hidden" name="institution_id" value="<%= solicitation.institution_id %>">
                                    <input type="hidden" name="approved" value="true">
                                    <button class="btn btn-success" type="submit">Aprovar</button>
                                </form>
                                <form action="/admin/institutions/reprove" method="post">
                                    <input type="hidden" name="institution_id" value="<%= solicitation.institution_id %>">
                                    <input type="hidden" name="deleted" value="true">
                                    <button class="btn btn-danger" type="submit">Reprovar</button>
                                </form>
                            </div>
                            <div class="my-card-content">
                                <h3><%= solicitation.institution_name %></h3>
                                <hr>
                                <p class="desc"><%= solicitation.descricao %></p>
                            </div>
                        </div>
                    </li>
                </ul>
            <% } else { %>
                <h4>Não tem solicitações restantes!</h4>
            <% } %>
        </main>
    </div>
</div>

</body>

</html>