<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/social.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title><%= institution.institution_name %> - Pelotas Social</title>
</head>

<body>
    <div class="header">
        <a href="/social" class="btn home-btn home-social-btn"><i class="material-icons">arrow_back</i></a>
        <a href="/social"><img class="logo" src="/images/pelotassocial.png" alt="Pelotas Social"></a>
        <a href="/access" class="btn white-outline-btn">Entrar</a>
    </div>
    <div class="container">
        <ul>
            <li>
                <div class="my-card">
                    <div class="my-card-image-holder">
                        <img src="<%= institution.image ? '/images/storage/'+institution.image : '/images/doar.png' %>"
                            class="<%= institution.image ? 'my-card-image-rounded' : 'my-card-image' %>"
                            alt="<%= institution.institution_name %>">
                    </div>
                    <div class="my-card-content">
                        <h3 class="my-cardH3"><%= institution.institution_name %></h3>
                        <hr>
                        <p class="desc"><%= institution.descricao %></p>
                        <% if(institution.telefone) { %>
                        <p class="desc">Telefone: <%= institution.telefone %></p>
                        <% } %>
                        <% if(institution.email) { %>
                        <p class="desc">E-mail: <%= institution.email %></p>
                        <% } %>
                        <% if(institution.endereco) { %>
                        <p class="desc">Endereço: <%= institution.endereco %></p>
                        <% } %>
                        <% if(institution.bairro) { %>
                        <p class="desc">Bairro: <%= institution.bairro %></p>
                        <% } %>
                        <% if(institution.cep) { %>
                        <p class="desc">CEP: <%= institution.cep %></p>
                        <% } %>
                        <% if(institution.cnpj) { %>
                        <p class="desc">CNPJ: <%= institution.cnpj %></p>
                        <% } %>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>