<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/social.css">
    <title>Portal da Prefeitura</title>
</head>
<body>
    <div class="header">
        <img class="logo" src="/images/p2.png" alt="Logo da Prefeitura de Pelotas" >
    </div>
    <div class="container">

        <div class="filters ">
            <form class="w-50" action="/social" method="get">
                <div class="form-group0">
                    <label for="role_id"><h4>Qual Categoria?</h4></label>
                    <div class="input-group">
                        <select class="form-control custom-select" id="role_id" name="category">
                            <option value="0" selected>Todos</option>
                            <% categories.forEach((category) => { %>
                                <option value="<%= category.institution_category_id %>"><%= category.institution_category_name %></option>
                            <% }) %>
                        </select>
                        <div class="input-group-append">
                            <input class="btn btn-outline-secondary" type="submit" value="Buscar">
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <hr>
        <div class="left">
            <ul>
                <% institutions.forEach((institution) => { %>
                    <li>
                        <div class="my-card">
                            <div class="my-card-image">
                                <img src="/images/doar.png" alt="Logo da policia" >
                            </div>
                            <div class="my-card-content">
                                <h3 class="my-cardH3" ><%= institution.institution_name %></h3>
                                <div class="line"></div>
                                <p class="desc">
                                <%= institution.endereco %>
                                                <%= institution.bairro %>
                                <%= institution.cep %>
                                                <%= institution.cidade %>
                                <%= institution.telefone %>
                               <%= institution.email %></p>
                            </div>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
        <footer>
            <p></p>
        </footer>
    </div>
</body>
</html>