<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/social.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Pelotas Social</title>
</head>

<body>
    <div class="header">
        <a href="/" class="btn home-btn home-social-btn"><i class="material-icons">home</i></a>
        <a href="/social"><img class="logo" src="/images/pelotassocial.png" alt="Pelotas Social"></a>
        <a href="/access/logout" class="btn white-outline-btn">Sair</a>
    </div>
    <div class="container">

        <ul>
            <% if(! donations.length) { %>
            <li class="no-results">
                <h4>
                    Não temos nenhuma doação disponível.
                </h4>
            </li>
            <% } %>
            <% donations.forEach((donation) => { %>
            <li>
                <div class="my-card">
                    <div class="my-card-image-holder">
                        <img src="<%= donation.image ? '/images/storage/'+donation.image : '/images/doar.png' %>"
                            class="<%= donation.image ? 'my-card-image-rounded' : 'my-card-image' %>"
                            alt="<%= donation.title %>">
                        <a href="tel:<%= donation.cellphone %>" class="btn btn-call"><i
                                class="material-icons">call</i></a>
                    </div>
                    <div class="my-card-content">
                        <h3><%= donation.title %></h3>
                        <hr>
                        <p class="desc"><%= donation.description %></p>
                    </div>
                </div>
            </li>
            <% }) %>
        </ul>
    </div>
</body>

</html>